In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("train.csv")

In [2]:
ls

fake-news.zip  submit.csv  test.csv  train.csv  Untitled.ipynb

In [4]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [8]:
# Checking the shape
df.shape

(20800, 5)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
df = df.dropna()

In [27]:
messages = df.copy()

In [28]:
messages.reset_index(inplace=True) # Row in order

In [29]:
messages['title']

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                        Why the Truth Might Get You Fired
3        15 Civilians Killed In Single US Airstrike Hav...
4        Iranian woman jailed for fictional unpublished...
                               ...
18280    Rapper T.I.: Trump a ’Poster Child For White S...
18281    N.F.L. Playoffs: Schedule, Matchups and Odds -...
18282    Macy’s Is Said to Receive Takeover Approach by...
18283    NATO, Russia To Hold Parallel Exercises In Bal...
18284                            What Keeps the F-35 Alive
Name: title, Length: 18285, dtype: object

In [30]:
# Clean and apply Stemming here 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['title'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [34]:
## Applying Countvectorizer
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()
X.shape

(18285, 5000)

In [35]:
y = messages['label']

In [36]:
# Now X and Y is ready ready to split 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [41]:
cv.get_feature_names()[:5]

['abandon', 'abc', 'abc news', 'abduct', 'abe']

In [44]:
#cv.get_params()

In [48]:
countdf=pd.DataFrame(X_train,columns=cv.get_feature_names())

In [50]:
countdf.head()

,abandon,abc,abc news,abduct,abe,abedin,abl,abort,abroad,absolut,...,zero,zika,zika viru,zionist,zone,zone new,zone new york,zoo,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [51]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()

In [52]:
from sklearn import metrics 
import numpy as np
import itertools

In [58]:
classifier.fit(X_train,y_train)
classifier.score(X_train,y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test,pred)
print("Accuracy",score)
cm = metrics.confusion_matrix(y_test,pred)
cm

Accuracy 0.9019055509527755

array([[3044,  345],
       [ 247, 2399]])

In [72]:
test = pd.read_csv('test.csv')
test.head()
tmessage=test.copy()

In [73]:
test.dropna(inplace=True)
test.isna().sum()

id        0
title     0
author    0
text      0
dtype: int64