In [1]:
import pandas as pd 
import numpy as np 
import sklearn

In [2]:
df = pd.read_csv("User_Data.csv")

In [3]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
df.shape

(400, 5)

In [11]:
df[df.columns].value_counts()

User ID   Gender  Age  EstimatedSalary  Purchased
15566689  Female  35   57000            0            1
15728773  Male    27   58000            0            1
15734312  Male    38   71000            0            1
15734161  Female  37   93000            1            1
15733973  Female  47   113000           1            1
                                                    ..
15654296  Female  50   20000            1            1
15654230  Female  55   130000           1            1
15652400  Female  38   50000            0            1
15651983  Male    34   112000           1            1
15815236  Female  45   131000           1            1
Length: 400, dtype: int64

In [25]:
# Checking is there na values 
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [23]:
df.pivot_table(index='EstimatedSalary',columns = 'Gender',values='Age')

Gender           Female   Male
EstimatedSalary
15000              28.5  28.00
16000              21.0  26.00
17000              26.5  30.00
18000               NaN  29.25
19000               NaN  21.50
...                 ...    ...
146000             44.0    NaN
147000             35.0    NaN
148000              NaN  29.00
149000             33.0  42.00
150000             32.0  52.00

[117 rows x 2 columns]

In [27]:
# Collecting X and Y 
x = df.iloc[:, [2, 3]].values  
y = df.iloc[:, 4].values  

# Splitting the dataset into the Training set and Test set  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [29]:
# 
# Fitting Naive Bayes to the Training set  
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

GaussianNB()

In [30]:
y_pred = classifier.predict(x_test)

In [42]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
# round to 2 places
print(round(acc*100,2),"%")

90.0 %

In [32]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)  
cm

array([[65,  3],
       [ 7, 25]])

In [31]:

from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93        68
           1       0.89      0.78      0.83        32

    accuracy                           0.90       100
   macro avg       0.90      0.87      0.88       100
weighted avg       0.90      0.90      0.90       100

In [43]:
# We understand that Naive Bayes algo is for classification
# It gives us good accuracy 
# It really work well on Multiclass classification